*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
}

.left{
    position: relative;
}

.left a{
    color: white;
}

.left > p{
    color: white;
    font-size: 0.8rem;
    position: absolute;
    bottom: 2%;
    left: 35%;
}

.sunflower{
    width: 600px;
    height: 100vh;
}

.odin-logo{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    gap: 15px;
}

.odin-logo img{
width: 20%;
}

.odin-logo p{
    color: white;
    font-size: 6rem;
    font-family: Handjet, sans-serif;
}

.right{
    width: 100%;
}

.top{
    height: 35vh;
    background-color: rgb(251, 251, 244);
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(62, 62, 62);
}

span{
    font-style: italic;
}

.top-first{
padding: 60px 0 40px 50px;
}

.top-second{
padding-left:50px ;
}

.middle{
 height: 45vh;
 background-color: white;
 position: relative;
z-index: 2;
box-shadow: -2px -8px 19px -22px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45);
}

.middle p{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 50px 25px;
    padding-top: 25px;
    color: rgb(60, 60, 60);
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 700px;
    margin-left: 50px;
    border: none;
}

label,input{
    display:flex;
    flex-direction:column;
  }

input{
    width: 250px;
    line-height: 25px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

input[type="password"]:invalid{
    border: 1px solid red;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

label{
    font-size: 0.9em;
    font-weight: 800;
    color: rgb(109, 108, 108);
    letter-spacing: 2px;
}

.bottom{
    height: 20vh;
    background-color: rgb(251, 251, 244);
}

.submit{
    background-color: #596D48;
    color: white;
    padding: 14px 48px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin: 24px 0 16px 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.bottom p{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 50px;
    color: rgb(60, 60, 60);
}

.login{
    color: #596D48;
    text-decoration: none;
}